/* ШРИФТЫ */
@font-face {
	font-family: 'Helvetica', sans-serif;
	src: url('../fonts/helvetica.woff2');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Helvetica-Bold', sans-serif;
	src: url('../fonts/helvetica.woff2');
	font-style: normal;
	font-weight: 700;
}

html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}

/*---------- ОБЩИЕ ЗНАЧЕНИЯ ----------*/
body {
	font-family: 'Helvetica', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.4;
	color: #5c5c5e;
}
.container {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}

/*----------  BUY-BTN ----------*/
.buy-btn {
	display: flex;
	text-transform: uppercase;
	padding: 0;
	margin-bottom: 10px;
	cursor: pointer;
	background-color: transparent;

	border: 1px solid transparent;
	border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
	border-image-slice: 1;
}
.buy-btn__text {
	background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
	padding: 20px 110px;
	line-height: 112.5%; /* 18/16 */
	color: #F6F4F5;
}
.buy-btn__price {
	padding: 20px 105px;
}
.buy-btn__price--overflow {
	background-color: rgba(246, 244, 245, 0.4);;
}

/*---------- HEADER ----------*/
.header {
	
	border-bottom: 1px solid #CACAD6;
}
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 80px;
}
.menu {
	display: flex;
	gap: 0 20px;
	text-transform: uppercase;
}
.basket {
	position: relative;
}
.basket--on span {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: -2px;
	bottom: 0;
	font-size: 11px;
	line-height: 0;
	width: 15px;
	height: 15px;
	background-color: #000;
	border-radius: 50%;
	color: #fff;
}

/*---------- TOP ----------*/
.top {
	min-height: calc(100vh - 81px);
	background-image: url('../images/top-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}
.title {
	font-size: 96px;
	line-height: 114.583333%; /* 110/96 */
	padding-top: 19.1%;
	margin-bottom: 10px;
}
.subtitle {
	font-size: 36px;
	line-height: 113.888889%; /* 41/36 */
	margin-bottom: 5px;
}
.top__text,
.buy__text {
	font-size: 13px;
	line-height: 115.384615%; /* 15/13 */
}
.top__text {
	margin-bottom: 50px;
}